@import '../../../assets/variables';

.main-header {
  background: $accent;
  padding: 1rem 0;
  color: #fff;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    h1 {
      font: {
        size: 150%;
        weight: 500;
      }
    }
  }
  &__nav {
    li {
      display: inline-block;
      margin-left: 2rem;
    }
    li a {
      border-bottom: 2px solid transparent;
      transition: 0.4s ease-out border;
      &:hover {
        border-bottom-color: #fff;
      }
    }
  }
}

@media (max-width: $laptop-min-width) {
  .main-header {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (max-width: $tab-width) {
  .main-header {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (max-width: $mobile-max-width) {
  .main-header {
    padding-right: 0;
    padding-left: 0;
    &__row {
      flex-direction: column;
    }

    &__logo {
      margin-bottom: 0.5rem;
    }
  }
}
