@import '../../../assets/variables';

.contact__item {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: 2px solid #e0e0e0;
  animation: fadeInSlideUp 0.4s forwards;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.contact {
  &__name {
    line-height: 2;
    font: {
      size: 130%;
      weight: 550;
    }
  }
  &__info {
    text-align: right;
  }
  &__type {
    border-radius: 1rem;
    font-size: 90%;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 0.5rem;
    display: inline-block;
    &--personal {
      background: $personal-badge;
    }
    &--professional {
      background: $professional-badge;
    }
  }
  &__control {
    button {
      margin-left: 1rem;
    }
  }
}
